@charset "UTF-08";

.formacao {
  max-width: 1440px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
}
.formacao div {
  justify-self: center;
  align-self: center;
  padding: 40px 0;
}
.formacao .subtitulo {
  color: var(--c08);
}
.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--c04);
  max-width: 30ch;
  position: relative;
  padding: 40px 0;
}
.formacao-texto strong {
  color: #fff;
  font-weight: 800;
}
.formacao-texto::before {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background: url("./arquivos/separadorvertical.svg") no-repeat center;
  position: absolute;
  top: 50px;
  left: -25px;
}
@media (max-width: 1000px) {
  .formacao-texto {
    font-size: 1rem;
  }
}
@media (max-width: 850px) {
  .formacao {
    gap: 100px;
  }
}
@media (max-width: 600px) {
  .formacao {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    margin: auto;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
}
@media (max-width: 450px) {
  .formacao-texto {
    font-size: 0.9rem;
  }
}
