@charset "UTF-08";

.header {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}
.header-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.header-menu li {
  list-style: none;
}
.header-menu li a {
  display: block;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--c13);
  text-decoration: none;
  padding: 10px 20px;
  text-transform: capitalize;
}
.header-menu li a:hover {
  font-size: 1.7rem;
  color: var(--p01);
}
input[type="checkbox"] {
  display: none;
}
.bar {
  position: relative;
  display: none;
}
.bar span {
  width: 65px;
  height: 65px;
  font-size: 2.2rem;
  color: var(--p01);
  text-align: center;
}
@media (max-width: 850px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background-color: var(--p02);
    border-radius: 4px;
  }
  .header {
    display: block;
    padding: 0;
  }
  .header img {
    display: inline-block;
    margin: 20px 50px;
  }
  .header-menu {
    display: block;
    width: 100%;
  }
  .header-menu li {
    position: relative;
    margin: 15px 0;
    display: none;
  }
  .header-menu li a {
    width: 90%;
    text-align: center;
    padding: 30px;
    font-size: 1.75rem;
    display: block;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    color: #fff;
  }
  .bar {
    display: block;
    position: absolute;
    top: 35px;
    right: 60px;
    cursor: pointer;
  }
  .bar #times {
    display: none;
  }

  #check:checked ~ nav .header-menu li {
    display: block;
  }
  #check:checked ~ nav .bar #times {
    display: block;
  }
  #check:checked ~ nav .bar #bars {
    display: none;
  }
}
